@{
    Layout = "Esercizi/_Layout";

    //   1. Dichiarare una variabile valorizzandola con il nostro nome.
    //Dichiarare un'altra variabile valorizzandola con il nostro cognome.
    //Stampare il nostro nome e cognome all'interno di un tag h2.

    string name = "Manuel";
    string surname = "Benini";

    //    2.Creare una funzione che stampa la somma dei numeri che vanno da 1 a n(con n passato come parametro -n incluso)
    //Stampare dentro uno span il risultato.

    int SommaNumeri(int n)
    {

        int sum = 0;
        for (int i = 1; i <= n; i++)
        {
            sum += i;
        }

        return sum;
    }

    //3. Contare quante volte la lettera a è presente nella frase "nel mezzo del cammin di nostra vita" e stampare questo valore in pagina

    string source = "nel mezzo del cammin di nostra vita";
    int count = 0;

    foreach (char a in source)
    {
        if (a == 'a')
        {
            count++;
        }
    }

    //4. Creare una List<int> di 20 numeri interi (generati random da 1 a 90, 1 e 90 inclusi) e mostrare in pagina solo i numeri compresi tra 20 e 70

    Random rnd = new Random();
    List<int> randomNumbersList = new List<int>();

    for (int i = 0; i < 20; i++)
    {
        randomNumbersList.Add(rnd.Next(1, 91));
    }

    //5. Stampare in pagina la data e l'ora attuale (usando la classe DateTime) con il formato anno-mese-giorno ore:minuti:secondi

    //    6. Partendo dalla data di oggi (usando la classe DateTime) stampare in pagina
    //a. la data di 7 giorni fa
    //b. che giorno della settimana è oggi (il risultato dovrà essere il nome del giorno (Lunedì, Martedì, ...)
    //c. che giorno della settimana sarà nello stesso giorno e mese di oggi ma tra un anno (il risultato dovrà essere il nome del giorno (Lunedì, Martedì, ...)
}

 <h2 class="display-4">Esercizio 1: @name @surname</h2>

 <h4>Esercizio 2: @SommaNumeri(5)</h4>

<h4>Esercizio 3: Numero di "a" presenti nella frase "nel mezzo del cammin di nostra vita": @count</h4>

<h4>Esercizio 4: Numeri compresi tra 20 e 70 inclusi nella lista</h4>

<ul>
    @foreach (int number in randomNumbersList)
    {
        @if (number > 19 && number < 71)
        {
            <li>@number</li>
        }
    }
</ul>

<h4>Esercizio 5: data attuale => @DateTime.Now.ToString("yyyy'-'MM'-'dd' 'HH':'mm':'ss")</h4>

<h4>Esercizio 6a: data 7 giorni fa => @DateTime.Now.AddDays(-7).ToString("yyyy'-'MM'-'dd' 'HH':'mm':'ss")</h4>

<h4>Esercizio 6b: giorno della settimana attuale => @DateTime.Now.ToString("dddd")</h4>

<h4>Esercizio 6c: giorno della settimana tra un anno => @DateTime.Now.AddYears(1).ToString("dddd")</h4>
